.admin {
    justify-content: center;
    width: 500px;
    margin-left: 700px;
    align-items: center;
    display: grid;
}
.softList {
    justify-content: center;
    display: inline-grid;
}

.child {
    text-align: center;
}
.table, th, td {
    border: 1px solid;
}
.glassTable {
    margin-left: 150px;
}
.alcoolTable {
    margin-left: 150px;
}